* {
  margin: 0px;
  padding: 0px;
}
body {
  background: aqua;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background: blue;
  height: 80px;
  text-align: center;
  line-height: 80px;
}

header h1 {
  font-size: 50px;
}

header h1 a {
  color: #ffffff;
  text-decoration: none;
}
